:root {
    --primary-color: #AB459F;
    --secondary-shade: #77217A;
    --lighter-shade: #EBBDE7;
}




.box {
    border-top: 10px solid var(--secondary-shade);
    border-bottom: 10px solid var(--secondary-shade);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0px #2c2e2e;
}

.input-border {
    border: 1px solid #cacaca;
    border-radius: 6px;
    padding: 3px 8px;
    font-size: 15px;
    font-weight: 400;
}

.input-border-modal {
    border: 1px solid #cacaca;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 15px;
}

.input-select-border {
    border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 4px 5px;
    font-size: 13px;
}

.dtm-button {
    background-color: var(--primary-color);
    /* font-family: 'Poppins',
        sans-serif; */
    font-weight: 600;
    font-size: 14px;
    line-height: 2em;
    letter-spacing: 0.3px;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 3px;
    border-width: 0px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 0px #000000;
    transition: ease-in-out 0.3s;
}

.dtm-button:hover {
    background-color: var(--secondary-shade);
}


table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #e2e2e2;
}

th,
td {
    padding: 4px;
    text-align: left;
}